.collection {
    &__grid {
      display: grid;
      grid-gap: $padding-mobile;
      grid-template-columns: 1fr;
    }

  @include media-query($medium-up) {
    &__grid {
      grid-gap: $padding-desktop;
      grid-template-columns: 1fr 1fr;
    }
  }
  @include media-query($large-up) {
    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
}