.collection-nav {
  padding: 1.5em 0;

  &__tag-link {
    line-height: 1;
    display: inline-block;
    margin: 0 0 0 2em;
  }

  @include media-query($large-up) {

    &__tag-link {
      margin: 0 2em 0 0;
    }
  }
}