.mobile-nav {
  top: var(--header-height);
  transition: transform $transition-duration $transition-timing;
  transform: translateX(0);
  padding: calc(3 * var(--padding));
  @include media-query($medium-up) {
    max-width: 400px;
    border-right: $standard-border;
    padding: var(--padding);
  }

  &__inner {
    font-size: 1.5em;
  }

  &__list {
    margin-top: -$line-height * 1em;
    li {
      padding-top: $line-height * 1em;
    }
  }

  &.slide-right-enter,
  &.slide-right-leave-to {
    transform: translateX(-100%);
  }
}