.product-card {
  &__details {

  }
  &__info {

  }
  &__form {
    border: var(--border);
    padding: .75em .5em .5em;
    .product-form__button {
      margin-top: .75em;
    }
    @include media-query($medium-up) {
      padding: 1em .75em .75em;
      .product-form__button {
        margin-top: 1em;
      }
    }
  }
}