.search-form__form {
  display: none;

  .search-form__button {
    display: block;
  }
}

.no-js,
.search-form.active {
  .search-form__form {
    display: block;
  }

  .search-form__button {
    display: none;
  }
}
