.side-cart {
  transition: transform $transition-duration $transition-timing;
  transform: translateX(0);
  border: 1px solid $black;

  &.slide-left-enter,
  &.slide-left-leave-to {
    transform: translateX(100%);
  }

  &__header {
    border-bottom: 1px solid $black;
    height: calc(var(--header-height) - 1px);
    padding: 0 var(--padding);
  }

  &__inner {
    padding: 1rem;
    overflow-y: scroll;
  }

  &__bottom {
    border-top: 1px solid $black;

    .button {
      margin-top: 1em;
    }
  }
}

@include media-query($medium-up) {
  .side-cart {
    width: fit-content;

    &__inner {
      display: grid;
      grid-template-columns: auto auto;
      grid-auto-flow: row;
    }
  }

  .cart-item {
    direction: ltr;
    border: 1px solid $black;
    width: 200px;
  }
}