.side-cart {
  transition: transform $transition-duration $transition-timing;
  transform: translateX(0);
  border: $standard-border;
  width: 100%;

  &.slide-left-enter,
  &.slide-left-leave-to {
    transform: translateX(100%);
  }

  &__close {
    width: .75rem;
  }

  &__header {
    border-bottom: $standard-border;
    height: calc(var(--header-height) - 1px);
    padding: 0 var(--cart-item-spacing);
  }

  &__inner {
    padding: var(--cart-item-spacing);
    overflow-y: scroll;

  }

  &__grid {
    margin-top: calc(-1 * #{var(--padding)});
    margin-left: calc(-1 * #{var(--cart-item-spacing)});
    max-width: calc(#{var(--cart-cols) * #{var(--cart-item-width)}});
  }

  &__bottom {
    border-top: $standard-border;

    .button {
      margin-top: 1em;
    }
  }
}

@include media-query($medium-up) {
  .side-cart {
    max-width: 100%;
    max-height: 100%;
    width: fit-content;


    &__close {
      width: 1rem;
    }

    &__grid {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    &__bottom {
      padding: var(--cart-item-spacing);
      margin-left: calc(-1 * #{var(--cart-item-spacing)})
      &__inner {
        padding-left: var(--cart-item-spacing);
        width: var(--cart-item-width);
        margin-left: auto;
      }
    }
  }
}