
.swatch, .size, .circle {
  font-size: var(--option-font-size);
  width: var(--option-circle-width);
  position: relative;
  border-radius: 50%;
  display: block;
  label & {
    cursor: pointer;
  }

  &::before,
  &::after {
    display: block;
  }

  &::before {
    padding-top: 100%;
    width: 100%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
  }
}

.swatch {
  &::before,
  &::after {
    content: '';
  }
  &::after {
    border: var(--border);
  }
}

.size, .circle {
  text-transform: uppercase;
  letter-spacing: 0;
  &::before {
    content: '';
  }
  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(data-content)
  }
}


.size {
  input[type=radio]:focus + label &,
  input[type=radio]:checked + label &,
  &.active {
    &::after {
      border: var(--border);
    }
  }
}

.circle::after {
  border: var(--border);
}

.swatch {
  input[type=radio]:checked + label &,
  &.active {
    border: var(--border);
    &::after {
      margin: var(--color-swatch-inset);
    }
  }
}

.swatch,
.size {
  input[type=radio]:focus + label & {
    --border-color: #{$gray};
  }
}
