
@mixin swatch-large() {
  .swatch, .size, .circle {
    font-size: 1rem;
    width: 2.25rem;
  }
}

@mixin swatch-medium() {
  .swatch, .size, .circle {
    font-size: var(--text-small);
    width: 1.5rem;
  }
}
.swatch, .size, .circle {
  --option-border-color: #{$black};
  font-size: .6875rem;
  width: 1.125rem;
  position: relative;
  border-radius: 50%;
  display: block;
  label & {
    cursor: pointer;
  }

  &::before,
  &::after {
    display: block;
  }

  &::before {
    padding-top: 100%;
    width: 100%;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
  }
}

.swatch {
  &::before,
  &::after {
    content: '';
  }
  &::after {
    border: 1px solid var(--option-border-color);
  }
}

.size, .circle {
  text-transform: uppercase;
  letter-spacing: 0;
  &::before {
    content: '';
  }
  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(data-content)
  }
}


.size {
  input[type=radio]:focus + label &,
  input[type=radio]:checked + label &,
  &.active {
    &::after {
      border: 1px solid var(--option-border-color);
    }
  }
}

.circle::after {
  border: 1px solid var(--option-border-color);
}

.swatch {
  input[type=radio]:checked + label &,
  &.active {
    border: 1px solid var(--option-border-color);
    &::after {
      inset: 2px;
    }
  }
}

.swatch,
.size {
  input[type=radio]:focus + label & {
    --option-border-color: gray;
  }
}
