html {
  font-size: 62.5%;
}

body {
  font-family: 'Favorit Mono';
  font-weight: normal;
  font-size: 1.6rem;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

strong, b {
  font-weight: normal;
}