html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Favorit Mono', monospace;

  * {
    box-sizing: border-box;
  }
}


p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.placeholder-svg {
  background-color: $gray;
  width: 100%;
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.body-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;

  @include media-query($small) {
    padding: 0 $padding-mobile;
  }
}

.index-section {
  padding-top: $padding-mobile;
  margin-top: 3rem;

  &:first-child {
    margin-top: 0;
  }


  @include media-query($medium-up) {
    padding-top: $padding-desktop;
    margin-top: 7.5rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

main {
  @include media-query($medium-up) {
    padding-bottom: 6rem;
  }
}

.button {
  @include uppercase;
  @include reset-input;
  background-color: transparent;
  appearance: button;
  border: 1px solid $black;
  color: $black;
  text-align: center;
  padding: .1em 2.4em 0;
  line-height: 2.3em;
  margin-top: 1.5em;

  &--large {
    @include media-query($medium-up) {
      font-size: 2.25rem;
      margin-top: 2em;
      padding: 0 2em;
      line-height: 2em;
      border-width: 2px;
    }
  }

  &--full {
    width: 100%;
  }
}

.button-white {
  @extend .button;
  color: $white;
  border-color: $white;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
