html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Favorit Mono', monospace;
}

img,
svg,
figure {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.body-wrapper {
  max-width: 1294px;
  margin: 0 auto;
  padding: 0 $padding-desktop;

  @include media-query($small) {
    padding: 0 $padding-mobile;
  }
}

section,
.section {
  padding: $padding-desktop 0;
}

.button {
  @include reset-input;
  display: block;
  width: 100%;
  border: 1px solid $black;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  padding: calc(1rem / 2);
  margin-top: 24px;
}

.button-white {
  @extend .button;
  color: $white;
  border: 1px solid $white;
}

.button-inline {
  @extend .button;
  width: fit-content;
}