/*============= Reset ================*/

body {
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-query($small) {
    font-size: var(--text-small); // 14px
  }
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/*============= Helpers ================*/

.tc-white {
  color: $white;
}

.tc-black {
  color: $black;
}

.uppercase {
  @include uppercase;
}

/*============= Elements ================*/

.h1,
.h2,
.h3,
.h4,
.h5 {
  @include uppercase;
  line-height: 1.5;
  font-weight: 400;
}

.h1 {
  font-size: 3rem;
  @include media-query($small) {
    font-size: 1.5rem;
  }
}

.h2 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.text-small {
  font-size: var(--text-small)
}

