/*============= Reset ================*/

body {
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/*============= Helpers ================*/

.tc-white {
  --text-color: #{$white};
  color: var(--text-color);
}

.tc-black {
  --text-color: #{$black};
  color: var(--text-color);
}

.border-white {
  --border-color: #{$white};
}

.border-black {
  --border-color: #{$black};
}

.uppercase {
  @include uppercase;
}

.text-large {
  @include media-query($medium-up) {
    font-size: var(--text-large);
  }
}

/*============= Elements ================*/

.h1,
.h2,
.h3,
.h4,
.h5 {
  @include uppercase;
  line-height: 1.5;
  font-weight: 400;
}

.h1 {
  font-size: 3rem;
  @include media-query($small) {
    font-size: 1.5rem;
  }
}

.h2 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.text-small {
  font-size: var(--text-small);
}

