button {
  border: 0;
  background: unset;
}

button,
a {
  @include focus-outline;
}

input,
.button {
  &:focus {
    outline: none;
    border-color: gray;
  }
}

.button {
  @include uppercase;
  @include reset-input;
  background-color: transparent;
  appearance: button;
  border: 1px solid $black;
  color: $black;
  text-align: center;
  padding: .1em 2.4em 0;
  line-height: 2.3em;

  &--large {
    @include media-query($medium-up) {
      font-size: 2.25rem;
      padding: 0 2em;
      line-height: 2em;
      border-width: 2px;
    }
  }

  &--full {
    width: 100%;
  }
}

.button-white {
  @extend .button;
  color: $white;
  border-color: $white;
}