.footer {
  margin-top: 4.5rem;
}

.footer__top {
  border-top: $standard-border;
  direction: rtl;
  text-align: left;
  @include media-query($small) {
    padding: 3em $padding-mobile;
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
}

.footer__half {
  @include media-query($small) {
    padding: 0;
  }
  @include media-query($medium-up) {
    padding: 3rem;
  }
  @include media-query($widescreen) {
    padding: 4rem 3.5rem;
  }
}

.footer__nav {

  @include media-query($medium-up) {
    border-right: $standard-border;
  }

  @include media-query($medium-down) {
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }

  @include media-query($small) {
    grid-gap: $padding-desktop;
  }
}

.footer__newsletter {
  @include media-query($medium-up) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__newsletter form {
  width: 100%;

  @include media-query($medium-up) {
    width: 300px;
  }

  input {
    @include reset-input;
    width: 100%;
    border-bottom: $standard-border;
    padding-bottom: 4px;
  }
}