.footer__top {
  border-top: $standard-border;
  direction: rtl;
  text-align: left;
  grid-gap: 0;
  @include media-query($small) {
    padding: 3em var(--padding);
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2em;
  }
}

.footer__half {
  direction: ltr;
  @include media-query($small) {
    padding: 0;
  }
  @include media-query($medium-up) {
    padding: 3rem;
  }
  @include media-query($widescreen) {
    padding: 4rem 3.5rem;
  }
}

.footer__nav {
  ul {
    margin-top: -1em;
    li {
      padding-top: 1em;
    }
  }
  @include media-query($medium-up) {
    border-right: $standard-border;
  }

  @include media-query($medium-down) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2em;
  }
}

.footer__newsletter {
  @include media-query($medium-up) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__newsletter form {
  width: 100%;
  max-width: 300px;
}