.footer__location {
  padding: 3.5rem 0;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-gap: 3.5rem;

  @include media-query($widescreen) {
    font-size: 3rem;
  }

  @include media-query($large-down) {
    font-size: 2rem;
  }

  @include media-query($small) {
    font-size: 1rem;
  }
}