$bar-height: 2px;
$inner-height: 14px;
$inner-width: 18px;
$outer-padding: 0;

$bar-gap: ($inner-height - ($bar-height * 3)) / 2;
$bar-margin: $bar-gap + $bar-height;
$outer-height: $inner-height + ($outer-padding * 2);
$outer-width: $inner-width + ($outer-padding * 2);
$hamburger-duration: .1s;
$hamburger-delay: .05s;

.hamburger {
  padding: $outer-padding;
  height: $outer-height;
  width: $outer-width;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: $hamburger-duration;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}

.hamburger-box {
  width: $inner-width;
  height: $inner-height;
  display: block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
  transition-duration: $hamburger-duration;
  transition-timing-function: ease;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: $inner-width;
  height: $bar-height;
  background-color: $black;
  position: absolute;
  transition-property: transform;
  transition-duration: $hamburger-duration;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: $bar-margin * -1;
  transition: top $hamburger-duration $hamburger-delay ease, opacity $hamburger-duration ease;
}

.hamburger-inner::after {
  bottom: $bar-margin * -1;
  transition: bottom $hamburger-duration ease $hamburger-delay, transform $hamburger-duration ease;
}

// Active

.hamburger.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: $hamburger-delay;
  transition-timing-function: ease;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $black;
}

.hamburger.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top $hamburger-duration ease, opacity $hamburger-duration $hamburger-delay ease;
}

.hamburger.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom $hamburger-duration ease, transform $hamburger-duration ease $hamburger-delay;
}