.hero {
  background-color: $gray;
  background-size: cover;
  @include media-query($small) {
    padding: 16px;
  }
}

.hero .content {
  max-width: 500px;
}

.hero .button {
  width: 72px;
  margin-top: 32px;
}