.hero {
  background-color: $gray;
  background-size: cover;
  @include media-query($small) {
    padding: 3rem;
  }
  .button {
    margin-top: 1.5em;
    @include media-query($medium-up) {
      margin-top: 2em;
    }
  }
}

.hero .content {
  max-width: 500px;
  @include media-query($small) {
    max-width: 320px;
  }
}
