.image-with-text {
  @include media-query($small) {
    grid-gap: .75em;
  }
}

.image-with-text__image {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.image-with-text__heading {
  margin-bottom: $line-height;
}

.image-with-text__text {
  @include media-query($medium-up) {
    font-size: 1.25rem;
  }
  @include media-query($large-up) {

    padding-left: 15%;

    .grid-reverse & {
      padding-right: 15%;
      padding-left: 0;
    }

  }
}