.large-text-page {

  margin: 4em auto 3em;
  padding: 0;
  @include media-query($medium-up) {
    margin: 5em auto 4em;
  }

  &__top {
    text-align: left;
    @include media-query($medium-up) {
      font-size: 1.5rem;
    }
  }

  &__content {
    margin-top: 2em;
    @include media-query($medium-up) {
      margin-top: 3em;
    }
  }
}