.pdp {
  &__image {
    padding-top: var(--padding);
  }
  &__form {
    padding-top: 2.5em;
    @include swatch-medium;
    .product-form__button {
      margin-top: 1.25em;
    }
  }

  @include media-query($small) {
    &__info {
      padding-top: 3em;
    }
  }

  @include media-query($medium-up) {
    &__split {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &__images,
    &__info {
      width: 50%;
      flex: auto 0 0;
    }
    &__info {
      padding-left: var(--padding);
      padding-top: var(--padding);
      position: sticky;
      top: var(--header-height);
    }

  }

  @include media-query($large-up) {
    &__form {
      @include swatch-large
    }
  }
}