.search-page {
  .search-form {
    max-width: 16em;
    input {
      line-height: 1;
      border-width: 0 0 1px;
      padding: 0 1.5em 0 0;
      width: 100%;
    }

    button {
      padding: 0;
    }
  }
}