.shopify-policy__container {
  @extend .max-w-large;
}

.text-page,
.shopify-policy__container {
  margin: 4em auto 3em;
  padding: 0;
  @include media-query($medium-up) {
    margin: 5em auto 4em;
  }
}

.text-page__title,
.shopify-policy__title {
  text-align: left;
  @include uppercase;
}

.text-page__content,
.shopify-policy__body {
  margin-top: 3em;

  strong,
  b {
    font-weight: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3em 0 $line-height * 1em;
    font-size: 1em;
    @include uppercase;
  }

  p {
    margin: $line-height * 1em 0;
  }
}