<div class="text-page">
  <h1 class="uppercase text-page__title">{{ 'general.404.title' | t }}</h1>
  <div class="text-page__content">
    <p>The page you requested could not be found.</p>
  </div>
</div>

{% section 'featured-collections' %}
