<div class="text-page">
  <div class="text-large">
    <h1 class="uppercase">{{ 'general.404.title' | t }}</h1>
    <div class="mt1">
      <p>The page you requested could not be found.</p>
    </div>
  </div>
  <div class="text-page__content">
    {% section 'featured-collections' %}
  </div>
</div>

