{% paginate collection.products by 48 %}
  <div>
    {% for product in collection.products %}
      {% include 'product-card', product: product %}
    {% else %}
      <p>no matches</p>
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
{% endpaginate %}
