<div class="collection">
  {% section 'collection-nav' %}
  {% paginate collection.products by 3 %}
    {% include 'product-grid', products: collection.products %}

    {% include 'pagination' %}
  {% endpaginate %}

</div>