<transition v-cloak name="slide-left">
  <div v-cloak v-show="visibleModal === 'cart'" class="side-cart z10 right top bottom y fix bg-white f fdc" v-click-outside="{exclude: ['cart-button'], handler: function() { modalController.dismissModal('cart')} }">
    <div class="side-cart__header f aic jcb f-0">
      <h2 class="uppercase">Cart</h2>
      <button class="cursor-pointer side-cart__close" type="button" v-on:click="dismissModal('cart')">
        <x-button></x-button>
      </button>
    </div>

    <div class="side-cart__inner f-1">
      <div v-if="cart.error">
        <p class="mb1">There was a problem! <span class="mb1" v-text="cart.error"></span></p>
      </div>
      <div v-if="cart.state && cart.state.items && cart.state.items.length > 0" class="side-cart__grid">
        <cart-item
          v-for="(item, index) in cart.state.items"
          :item="item"
          :index="index"
          :key="item.id"></cart-item>
      </div>

      <div v-else>
        Your cart is empty.
      </div>
    </div>

    <div class="side-cart__bottom x right left bottom z1 bg-white">
      <div class="side-cart__bottom__inner">
        <div class="f aic jcb"><span>Subtotal</span><span>$100.00</span></div>
        <button class="button button--full">Checkout</button>
      </div>
    </div>

  </div>
</transition>

