<transition v-cloak name="slide-left">
  <div v-cloak v-show="visibleModal === 'cart'" class="side-cart z10 right top bottom y fix bg-white f fdc" v-click-outside="{exclude: ['cart-button'], handler: function() { modalController.dismissModal('cart')} }">
    <div class="side-cart__header f aic jcb">
      <h2 class="uppercase">Cart</h2>
      <button class="cursor-pointer hamburger is-active" type="button" v-on:click="dismissModal('cart')">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <div class="side-cart__inner x f-1">
      <template v-if="cart.state && cart.state.items && cart.state.items.length > 0">
        <cart-item
          v-for="(item, index) in cart.state.items"
          :item="item"
          :index="index"
          :key="item.id"></cart-item>
      </template>
    </div>

    <div class="side-cart__bottom x right left bottom p1 z1 bg-white">
      <div class="f aic jcb"><span>Subtotal</span><span>$100.00</span></div>
      <button class="button button--full">Checkout</button>
    </div>

  </div>
</transition>

