<transition name="slide-left">
  <div v-if="modalController.visibleModal === 'cart'" class="side-cart z10 x right left bottom fix bg-white">
    <div class="side-cart__inner x y f fdc jcb">
      Cart
    </div>
  </div>
</transition>
