<section class="featured-collections half-grid">
  {% for block in section.blocks %}
    {% assign collection = collections[block.settings[coll]] %}
    <a href="{{ collection.url }}">
      <div class="grid-item rel x max-full-height">
        <div class="abs f jcc aic z1 fill x y">
          <h2 class="h1 tc-white">{{ block.settings.text }}</h2>
        </div>
        {% include 'responsive-image-img', image_class: "x y", image: block.settings.image %}

      </div>
    </a>
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Featured Collections",
    "class": "index-section",
    "max_blocks": 2,
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Collections",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection",
            "settings": {
              "text": "Shop Men"
            }
          },
          {
            "type": "collection",
            "settings": {
              "text": "Shop Women"
            }
          }
        ]
      }
    ]
  }
{% endschema %}