{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  <div class="header">
    <div class="header__inner y">
      {% comment %} TO DO: Add class of 'is-active' on click {% endcomment %}
      <div class="header__hamburger f aic">
        <button ref="hamburger" class="cursor-pointer hamburger order-first z-40 md:hidden" type="button" @click="modalController.toggleModal('mobileNav')" :class="{'is-active': (modalController.visibleModal === 'mobileNav')}">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>

      {% include 'mobile-nav' %}

      {% include 'header_left_menu', class: 'header__left f jcs', position: 'header' %}

      <header role="banner" class="header__center f jcc aic">
        {% if template.name == 'index' %}
          <h1>
        {% else %}
          <div>
        {% endif %}
            <a title="{{ section.settings.title }}" href="/" class="header__title block uppercase">
              {{ section.settings.title }}
            </a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}

      </header>

      {% include 'header_right_menu', class: 'header__right f jce', position: 'header' %}
      {% if template != "cart" %}
        {% include 'side-cart' %}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Header",
    "class": "header-wrapper z8",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Header Text",
        "default": "Peoples"
      },
      {
        "type": "link_list",
        "id": "left_menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "right_menu",
        "label": "Right Menu"
      }
    ]
  }
{% endschema %}
