{% assign settings = section.settings %}

<section class="section">
  <div class="hero fdc jcc aic full-height rel lazyload" data-bgset="{% include 'responsive-bg-image', image: settings.background_image %}">
    <div class="content ac tc-white z1">
      <h2 class="h1">{{ settings.heading }}</h2>
      {% if settings.button_text != blank and settings.button_url != blank %}
        <a class="button-white button--large" href="{{ settings.button_url }}">{{ settings.button_text}}</a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Hero"
      }
    ]
  }
{% endschema %}