<section class="pdp" data-section-id="{{ section.id }}" data-section-type="product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="pdp__split">

    <!-- Images -->
    <div class="pdp__images">
      {% for image in product.images %}
        <div class="pdp__image">
          {% include 'responsive-image', image: image %}
        </div>
      {% endfor %}
    </div>


    <!-- Info -->
    <div class="pdp__info">

      <product-info
        initial-variant-id="{{ current_variant.id }}"
        :product='{{ product | json }}'
        :options='{{ product.options_with_values | json }}'>
      </product-info>

      {% include 'product-details' %}

    </div>

  </div>

</section>
