@import './responsive';

/*============= Responsive Display ================*/

@include responsive-display-helper;
@include responsive-text-align-helper;

/*================ Build Responsive Grid Classes ================*/
@each $breakpoint in $breakpoints-has-widths {
  .test-class {
    color: $breakpoint;
  }
  @include media-query($breakpoint) {
    @include responsive-display-helper('#{$breakpoint}--');
    @include responsive-text-align-helper('#{$breakpoint}--');
  }
}

/*============= Grid Layout ================*/
@include media-query($medium-up) {
  .display-grid {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: $padding-desktop;
    grid-template-columns: repeat(12, 1fr);

    > .display-grid__item {
      grid-column: span 12;
      &.span-1 { grid-column: span 1 / span 1; }
      &.span-2 { grid-column: span 2 / span 2; }
      &.span-3 { grid-column: span 3 / span 3; }
      &.span-4 { grid-column: span 4 / span 4; }
      &.span-5 { grid-column: span 5 / span 5; }
      &.span-6 { grid-column: span 6 / span 6; }
      &.span-7 { grid-column: span 7 / span 7; }
      &.span-8 { grid-column: span 8 / span 8; }
      &.span-9 { grid-column: span 9 / span 9; }
      &.span-10 { grid-column: span 10 / span 10; }
      &.span-11 { grid-column: span 11 / span 11; }
      &.span-12 { grid-column: span 12 / span 12; }

      &.grid-start {
        grid-column-start: 1;
      }

      &.grid-end {
        grid-column-end: 13;
      }
    }
  }
}

.half-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  direction: ltr;
  grid-gap: $padding-desktop;

  @include media-query($small) {
    grid-template-columns: 1fr;
  }
  
  > .grid-item {
    grid-column: span 1;
  }
}

.grid-reverse {
  direction: rtl;
}

/*============= Flex Layout ================*/
.fdr {
  display: flex;
  flex-direction: row;
}

.fdr-rev {
  display: flex;
  flex-direction: row-reverse;
}

.fdc {
  display: flex;
  flex-direction: column;
}

.fdc-m {
  @include media-query($small) {
    display: flex;
    flex-direction: column;
  }
}


/*============== Layout ================*/

.abs-c {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.full-height {
  height: 100vh;
  max-height: calc(100vh - #{$header-height-desktop} - #{2 * $padding-desktop});
  @include media-query($small) {
    max-height: calc(100vh - #{$header-height-mobile} - #{2 * $padding-mobile});
  }
}

.half-width {
  width: 50%;
  @include media-query($small) {
    width: 100%;
  }
}

.mr-d {
  @include media-query($medium-up) {
    margin-right: $padding-desktop;
  }
}

.ml-d {
  @include media-query($medium-up) {
    margin-left: $padding-desktop;
  }
}


/*============= Helpers ================*/
.visually-hidden {
  @include visually-hidden;
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden;

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown;
  }
}

.visually-shown {
  @include visually-shown;
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

// Skip to content button
// Overrides .visually-hidden when focused
.skip-link:focus {
  @include visually-shown(absolute);
  z-index: 10000;
  transition: none;
}

.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}
