/*============= Responsive Display ================*/

@include responsive-display-helper;
@include responsive-text-align-helper;
@include grid-span-generator;

/*================ Build Responsive Grid Classes ================*/
@each $breakpoint in $breakpoints {
  @include media-query($breakpoint) {
    @include responsive-display-helper('#{$breakpoint}--');
    @include responsive-text-align-helper('#{$breakpoint}--');
    @include grid-span-generator('#{$breakpoint}--');
  }
}

/*============= Grid Layout ================*/
.display-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  > .display-grid__item {
    grid-column: span 12;
  }
}

/*============= Helpers ================*/
.visually-hidden {
  @include visually-hidden;
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden;

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown;
  }
}

.visually-shown {
  @include visually-shown;
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

// Skip to content button
// Overrides .visually-hidden when focused
.skip-link:focus {
  @include visually-shown(absolute);
  z-index: 10000;
  transition: none;
}

.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}
