@import './variables';

/*===============UNDERLINES=================*/

// Faux underline
@mixin faux-underline {
  line-height: 1;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::before {
    position: absolute;
    content: '';
    bottom: calc(50% - .65em);
    left: 0;
    right: 0;
    border-bottom: 1px solid;
  }
}

@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: .025em;
}
// Faux underline
@mixin faux-strikethrough {
  line-height: 1;
  position: relative;
  display: inline-block;
  text-decoration: none;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    height: calc(50% - 1px);
    left: 0;
    right: 0;
    border-bottom: 1px solid;
  }
}

/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden {
  // stylelint-disable-next-line
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}

@mixin enlarge-click {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: -.6em;
  }
}

@mixin focus-outline {
  &:focus {
    --border-color: #{$gray};
    @include enlarge-click;
    outline: none;
    &::after {
      border: $standard-border;
    }
  }
}

