@import './variables';
/*================ Responsive Show/Hide Helper ================*/
@mixin responsive-display-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}show {
    display: block !important;
  }

  .#{$breakpoint}hide {
    display: none !important;
  }
}

/*================ Responsive Text Alignment Helper ================*/
@mixin responsive-text-align-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}tl {
    text-align: left !important;
  }

  .#{$breakpoint}tr {
    text-align: right !important;
  }

  .#{$breakpoint}tc {
    text-align: center !important;
  }
}


