@import './variables';
/*================ Responsive Show/Hide Helper ================*/
@mixin responsive-display-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}show {
    display: block !important;
  }

  .#{$breakpoint}hide {
    display: none !important;
  }
}

/*================ Responsive Text Alignment Helper ================*/
@mixin responsive-text-align-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}tl {
    text-align: left !important;
  }

  .#{$breakpoint}tr {
    text-align: right !important;
  }

  .#{$breakpoint}tc {
    text-align: center !important;
  }
}


/*================ General Helpers ================*/
@mixin responsive-helpers($breakpoint: '') {
  // sass-lint:disable no-important

  .#{$breakpoint}mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  // four sides
  .#{$breakpoint}m-pad {
    margin: var(--padding);
  }

  .#{$breakpoint}p-pad {
    padding: var(--padding);
  }

  // margin left right
  .#{$breakpoint}mx-pad,
  .#{$breakpoint}ml-pad {
    margin-left: var(--padding);
  }

  .-#{$breakpoint}ml-pad {
    margin-left: -(var(--padding));
  }
  .-#{$breakpoint}mt-pad {
    margin-top: -(var(--padding));
  }

  .#{$breakpoint}mx-pad,
  .#{$breakpoint}mr-pad {
    margin-right: var(--padding);
  }

  // margin top bottom
  .#{$breakpoint}my-pad,
  .#{$breakpoint}mt-pad {
    margin-top: var(--padding);
  }

  .#{$breakpoint}my-pad,
  .#{$breakpoint}mb-pad {
    margin-bottom: var(--padding);
  }

  // padding left right
  .#{$breakpoint}px-pad,
  .#{$breakpoint}pl-pad {
    padding-left: var(--padding);
  }

  .#{$breakpoint}px-pad,
  .#{$breakpoint}pr-pad {
    padding-right: var(--padding);
  }

  // padding top bottom
  .#{$breakpoint}py-pad,
  .#{$breakpoint}pt-pad {
    padding-top: var(--padding);
  }

  .#{$breakpoint}py-pad,
  .#{$breakpoint}pb-pad {
    padding-bottom: var(--padding);
  }

  // four sides
  .#{$breakpoint}m-line {
    margin: $line-height * 1em;
  }

  .#{$breakpoint}p-line {
    padding: $line-height * 1em;
  }

  .-#{$breakpoint}ml-line {
    margin-left: $line-height * -1em;
  }

  .-#{$breakpoint}mt-line {
    margin-top: $line-height * -1em;
  }

  // margin left right
  .#{$breakpoint}mx-line,
  .#{$breakpoint}ml-line {
    margin-left: $line-height * 1em;
  }

  .#{$breakpoint}mx-line,
  .#{$breakpoint}mr-line {
    margin-right: $line-height * 1em;
  }

  // margin top bottom
  .#{$breakpoint}my-line,
  .#{$breakpoint}mt-line {
    margin-top: $line-height * 1em;
  }

  .#{$breakpoint}my-line,
  .#{$breakpoint}mb-line {
    margin-bottom: $line-height * 1em;
  }

  // padding left right
  .#{$breakpoint}px-line,
  .#{$breakpoint}pl-line {
    padding-left: $line-height * 1em;
  }

  .#{$breakpoint}px-line,
  .#{$breakpoint}pr-line {
    padding-right: $line-height * 1em;
  }

  // padding top bottom
  .#{$breakpoint}py-line,
  .#{$breakpoint}pt-line {
    padding-top: $line-height * 1em;
  }

  .#{$breakpoint}py-line,
  .#{$breakpoint}pb-line {
    padding-bottom: var(--padding);
  }
}





