:root {
  --border-color: #{$black};
  --border: 1px solid var(--border-color);
  --text-color: #{$black};
  --text-small: .875rem;
  --text-regular: 1rem;
  --text-large: 1.25rem;
  --font-size: var(--text-small);
  --padding: 1em;
  --header-height: 3em;
  --full-height: calc(100vh - var(--header-height));
  --padded-full-height: calc(var(--full-height) - (2 * var(--padding)));
  --homepage-section-gap: 4.5em;

  @include media-query($medium-up) {
    --padding: 2.25em;
    --header-height: 4.5em;
    --homepage-section-gap: 9.75em;
    --font-size: var(--text-regular);
  }
}


:root {
  --option-font-size: .6875rem;
  --option-circle-width: 1.125rem;
  --option-circle-spacing: .5em;
  --color-swatch-inset: 2px;
  --option-group-spacing: calc(2 * var(--option-circle-spacing));
}

@mixin swatch-large {
  --option-font-size: 1rem;
  --option-circle-width: 2.25rem;
  --option-circle-spacing: .625em;
  --color-swatch-inset: 4px;
}

@mixin swatch-medium {
  --option-font-size: var(--text-small);
  --option-circle-width: 1.5rem;
  --color-swatch-inset: 3px;
}
