:root {
  --border-color: #{$black};
  --text-color: #{$black};
  --text-small: .875rem;
  --text-regular: 1rem;
  --text-large: 1.25rem;
  --font-size: var(--text-small);
  --padding: 1em;
  --header-height: 3em;
  --full-height: calc(100vh - var(--header-height));
  --padded-full-height: calc(var(--full-height) - (2 * var(--padding)));
  --homepage-section-gap: 4.5em;

  @include media-query($medium-up) {
    --padding: 2.25em;
    --header-height: 4.5em;
    --homepage-section-gap: 9.75em;
    --font-size: var(--text-regular);
  }
}

